*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	block-size: 100%;
}

.page {
	inline-size: 1200px;
	block-size: 100%;
	margin: 0 auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

ul,
ol {
	list-style: none;
}

button:focus {
	outline: none;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 30px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 133px 30px;

}

.result {
	display: block;
	min-height: 456px;
	min-width: 711px;
}

.result__video-container {
	position: relative;
	inline-size: 711px;
	block-size: 386px;
	margin-bottom: 16px;
}

.result__video {
	object-fit: cover;
	height: 100%;
	width: 100%;

}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: end;
	appearance: none;
}

.search-form__fieldset {
	height: 54px;
}

.search-form__fieldset-title {
	font-family: 'Fira Sans Condensed', sans-serif;
	text-align: left;
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
}

.search-form__label span {
	display: inline-block;
	appearance: none;
	text-align: start;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	color: #FFFFFFB2;
	width: fit-content;
}

.search-form__label-text:focus-visible,
.search-form__label-text:hover,
.search-form__label-text:active {
	cursor: pointer;
	border-bottom: 2px solid #fff;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.search-form__textfield {
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 17px;
	letter-spacing: 0em;
	text-align: start;
	color: #ffffffb2;
	background: transparent;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-width: 225px;
}

.search-form__textfield:focus-visible,
.search-form__textfield:hover,
.search-form__textfield:active {
	cursor: pointer;
	text-decoration: underline;
	outline: 2px solid #fff;
	outline-offset: 0;
}

.search-form__checkbox-list {
	display: flex;
	justify-content: space-between;
	left: 265px;
	height: 49px;
	margin: 2px;
	width: 212px;
}

.search-form__checkbox[type="checkbox"]+span {
	cursor: pointer;
	border: 1px solid #FFFFFFB2;
	height: 19px;
	width: 19px;
}

.search-form__checkbox:focus-visible,
.search-form__checkbox:checked+span {
	background-color: #fff;
	outline: 1px solid #FFFFFFB2;
	outline-offset: 1px;
	padding: 1px;
}

.search-form__pseudo-checkbox:focus-visible,
.search-form__pseudo-checkbox:active {
	background-color: #fff;
	outline: 1px solid #FFFFFFB2;
	outline-offset: 1px;
	padding: 1px;
}

.button {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	background: transparent;
	color: #FFFFFF;
	cursor: pointer;
	height: 34px;
}

.button:focus-visible,
.button:hover,
.button:active {
	text-decoration: underline;
	outline: 2px solid #fff;
	outline-offset: 0;
}

.search-form__submit-button {
	top: 20px;
	left: 517px;
	border: 1px solid #ffffff;
	width: 194px;
}

.content__details {
	height: 100%;
	max-width: 399px;
	width: 100%;
}

.title {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 75px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 0em;
	color: #ffffff;
	max-width: 260px;
	min-height: 210px;
	margin-bottom: 26px;
}

.content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	overflow: auto;
	height: auto;
	margin: auto;
	max-width: 399px;
	max-height: 298px;
}

.content__list-item:not(:last-child) {
	margin-bottom: 30px;
}

.content__list-item:active,
.content__list-item:nth-child(1) {
	color: #fff;
	background-color: #545050;
	height: 103px;
	width: 100%;
}

.content__card-link {
	text-decoration: none;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.content__video-card {
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	object-fit: cover;
	block-size: 107px;
}

.content__video-card-description-container {
	flex-grow: 1;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	max-height: 101px;
	overflow: hidden;
}

.content__video-card-title {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: start;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 2px;
	margin-bottom: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content__video-card-description {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: start;
	color: #FFFFFF;
	object-fit: cover;
}

.content__video-card-thumbnail {
	object-fit: cover;
	width: 100%;
	max-width: 193px;
	max-height: 100%;
}

.more-button {
	border: 1px solid #ffffff;
	width: 100%;
}