.page {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 1200px;
	block-size: 100%;
	margin: 0 auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	padding: 133px 30px;
}

.content {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: flex-end;
}

.result {
	display: block;
	width: 711px;
}

.result__video-container {
	position: relative;
	inline-size: 711px;
	block-size: 386px;
	margin-bottom: 16px;
}

.result__video {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.search-form {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.search-form__fieldset-title {
	padding-bottom: 5px;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
}

.search-form__label {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	color: #ffffff;
	width: fit-content;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__label:has(:focus-visible) {
	cursor: pointer;
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.search-form__label-text:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.search-form__label-text {
	padding-left: 5px;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}

.search-form__textfield {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 17px;
	letter-spacing: 0em;
	text-align: start;
	color: #ffffffb2;
	background: transparent;
	border: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	min-width: 225px;
	min-height: 27px;
}

.search-form__checkbox-list {
	display: flex;
	justify-content: space-between;
	left: 265px;
	margin: 2px;
	width: 212px;
}

.search-form__checkbox[type='checkbox']+.search-form__pseudo-checkbox {
	cursor: pointer;
	border: 1px solid #ffffffb2;
	height: 19px;
	width: 19px;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox {
	background-color: #fff;
	outline: 1px solid #ffffffb2;
	outline-offset: 1px;
	padding: 1px;
}

.button {
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	background: transparent;
	color: #ffffff;
	cursor: pointer;
	height: 34px;
	align-self: flex-end;
	border: 1px solid #ffffff;
	width: 100%;
}

button:focus {
	outline: none;
}

.button:focus-visible {
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.button:hover {
	text-decoration: underline;
	outline: 1px solid #fff;
}

.button:active {
	background-color: #545050;
}

.search-form__submit-button {
	max-width: 194px;
}

.content__details {
	height: 534px;
	width: 399px;
	overflow: hidden;
}

.title {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 75px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: 0em;
	color: #ffffff;
	margin-bottom: 26px;
}

.content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	overflow: auto;
	height: auto;
	max-width: 399px;
	max-height: 298px;
}

.content__list-item:not(:last-child) {
	margin-bottom: 30px;
}

.content__card-link {
	display: block;
	text-decoration: none;
	color: inherit;
	margin: 3px;
}

.content__card-link_current {
	background: #545050;
}

.content__card-link:active {
	background: #545050;
}

.content__card-link:hover {
	text-decoration: underline;
	text-underline-offset: 6px;
	cursor: pointer;
}

.content__card-link:focus {
	outline: 1px solid #ffffff;
}

.content__video-card {
	display: flex;
	align-items: flex-start;
	box-sizing: border-box;
	width: 100%;
	object-fit: cover;
	block-size: 107px;
}

.content__video-card-description-container {
	flex-grow: 1;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	height: 101px;
	overflow: hidden;
}

.content__video-card-title {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: start;
	text-transform: uppercase;
	padding-right: 15px;
	padding-bottom: 7px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content__video-card-description {
	font-size: 18px;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: start;
	padding-right: 20px;
}

.content__video-card-thumbnail {
	object-fit: cover;
	width: 100%;
	max-width: 193px;
	max-height: 100%;
}